@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background-image: url('../IMG/IMGjpgLOGIN.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(7px); /* Adiciona o desfoque no contêiner */
    padding: 5rem;
    box-shadow: 0 0 10px #515151;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    border-radius: 20px;
}

.wrapper h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem 0;
    width: 330px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

form input{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding-left: 1rem;
    background-color: transparent;
    border: 1px solid rgb(146, 146, 146);
}

form input::placeholder{
    color: #000;
    font-size: 15px;
}

form button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

#esqueceu-senha{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    align-self: flex-end;
}

.membro-novo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.membro-novo a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
}

.wrapper img{
    padding-top: 1rem;
}