* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    ;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

header {
    padding: 30px 10px;
    background-color: #4276C3;
    flex: 1 1 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30px;
}

nav> :nth-child(1) {
    flex-grow: 8;
    background-color: #E6E6E6;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin: 3px;
}

nav> :nth-child(2) {
    flex-grow: 1;
    margin-left: 3px;
    padding: 30px 0;
}

nav> :nth-child(3) {
    flex-grow: 1;
}


.login {
    background-color: #170033;
    color: white;
    padding: 12px 40px;
    border-radius: 7px;
    text-decoration: none;
    top: 10px;
    /* Distância do topo */
    right: 20px;
    /* Distância da direita */
    margin-top: 1px;
    /* Margem superior */
    margin-right: 10px;
    /* Margem direita */
    z-index: 999;
}


.login:hover {
background-color: #8891f2;
}

.criar-cadastro {
    background-color: #170033;
    color: white;
    padding: 12px 40px;
    border-radius: 7px;
    text-decoration: none;
    top: 10px;
    /* Distância do topo */
    right: 20px;
    /* Distância da direita */
    margin-top: 1px;
    /* Margem superior */
    margin-right: 10px;
    /* Margem direita */
    z-index: 999;
}

.criar-cadastro:hover {
    background-color: #8891f2;
}

.quem-somos {
    background-color: #170033;
    color: white;
    padding: 12px 40px;
    border-radius: 7px;
    text-decoration: none;
    top: 10px;
    /* Distância do topo */
    right: 20px;
    /* Distância da direita */
    margin-top: 1px;
    /* Margem superior */
    margin-right: 10px;
    /* Margem direita */
    z-index: 999;
}


.quem-somos:hover { 
    background: #8891f2;
}

section {
    padding: 30px 10px;
    display: flex;
    align-items: center;
}

.titulo-banner {
    padding-bottom: 25px;
    font-weight: 800;
    line-height: normal;
}

p .banner-text {
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.banner {
    justify-content: space-between;
}

.banner-text {
    color: white;
    width: 40%;
    padding: 0 40px;
}

.banner-img {
    width: 60%;
    text-align: center;
}

main {
    background-color: white;
    flex: 1 1 100vw;
}

.roadmap-text {
    width: 25%;
    padding: 30px;
}

h1 .roadmap-text {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 .roadmap-card {
    font-weight: bold;
    margin-bottom: 100px;
}

p .roadmap-card {
    line-height: 2em;
}

.roadmap-card {
    width: 25%;
    background-color: #B6BBF2;
    padding: 30px;
    margin: 30px;
    border-bottom-right-radius: 30px;
}

.titulo-card {
    padding: 25px 0;
}

.img-card {
    padding: 25px 0;
    text-align: right;
}

#about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    ;
  }

  #about-us-section h2{
    background-color:#B6BBF2;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 10px 15px;
  }

  footer {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding: 30px;
    flex: 1 1 100vw;
    align-items: center;
    font-size: 15px;
}
p div footer{
    font-size: 15px;
}



  
  
