* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 8px 10px;
    height: 70px;
    background-color: #4276C3;

}

nav {
    display: flex;
    align-items: center;
    

}

.user-info {
    margin-left: auto; 
    display: flex;
    align-items: center;
    
}

.login {
    background-color: #170033;
    color: white;
    padding: 12px 40px;
    border-radius: 7px;
    text-decoration: none;
    position: fixed;
    top: 10px; 
    right: 20px; 
    margin-top: 1px; 
    margin-right: 10px; 
    z-index: 999; 
}

.login:hover {
    background-color: #2a005e; 
}

svg {
    width: 44px;
    height: 44px;
    fill: #D9D9D9;
    margin-left: 30px;
}
.svg-blue {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 999;
}



.dev-path-container {
    display: flex;
    position: fixed;
    left: 10px; 
    top: 10px; 
    margin-top: 3px; 
}

.dev-path-container h1 {
    background-color: #E6E6E6;
    color: #170033;
    padding: 5px 3px;
    border-radius: 30px;
    text-decoration: none;
    position: fixed;
    top: 10px; 
    left: 14%; 
    transform: translateX(-10%); 
    z-index: 999; 
    width: 1050px;
    text-align: center;

}



.user-info {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 2px;
    right: 170px; 
    padding: 100px 30px;
}
.user-info p {
    margin-right: 2px; 
    color:#E6E6E6;
}

.user-info p span {
    display: block; 
    margin-bottom: 2px;

}
.quiz {
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 800px; 
    height: 100px; 
    background-color: #f0f0f0;
    padding: 70px;
    border-radius: 10px;
}


.qu {
    font-size: 15px;
    margin-bottom: 60px;
}

 

.option {
    width: 31px; 
    margin-bottom: 10px;
    list-style-type: none;
    padding: 10px;
    color: #ccc;
    font-size: 8px;

    

}

.option input[type="radio"] {
    margin-right: 10px;
    width: 20px; 
    color: #ccc;

}




footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D9D9D9;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    z-index: 999; 
}

footer div {
    margin: 0 10px; 
}
p div footer{
    font-size: 15px;
}

main {
    margin-bottom: 200px; 
}


.button {
    font-family: 'Barclaycard Co Lt',Tahoma,sans-serif;
    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: #075da8;
    color: white;
    text-decoration: none !important;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

  .button:hover {
    background-color: #059fdb !important;
    color: white;
  }
  
  #qu-2, #qu-3, #qu-4, #qu-5, #qu-6,#qu-7,#qu-8,#qu-9,#grafico,#pic{
    display: none;
  }
  
  #progress_bar {
    background-color: #018fd0;
    width: 5%;
    height: 10px;
    transition: all 100ms ease-in-out;
}


.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }



  .container {
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    background-color: rgb(25, 158, 195);
    background-image: url('../IMG/IMGpngFUNDOquiz.png');
    background-size: cover;

    padding: 40px;
    border-radius: 15px;
    position: relative; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.5); 
    border-radius: 15px;
}



.row {
        width: 100%; 
        max-width: 900px; 
        padding: 2px; 
        border-radius: 10px; 
        border-color: rgb(95, 184, 170);
        border: 10px;
        color: #ffffff;
        border: 10px ;  
              
}
.respostas{

    padding: 10px; 
    margin-bottom: 10px; 
    display: inline-block; 
    border-radius: 5px; 
    background-color: #ececec;
    color: #170033;
    font-size: 14px;
}


  .ball {
    width: 24px; 
    height: 24px; 
    background-color: #ccc; 
    border-radius: 50%; 
    display: inline-block; 
    margin-right: 20px; 
    cursor: pointer; 
}

.selected {
    background-color: #170033; 
}



#grafico {
    margin-left: 800px; 
}
#pic {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    right: 200px; 
    left: 50%;
    transform: translateX(-50%);
}
