@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    height: 100vh;
    display: flex;
    flex-direction: column;

}

main {
    background-image: url(../IMG/IMGjpgCADASTRO1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex: 1 1 0;
}


.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    color: black;

}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 20%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 15px;
    color: black;
    padding: 20px 45px 20px 20px
}

.input-box input::placeholder {
    color: black;
}

.wrapper p a {
    background-color: #9553eb;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.3rem 0.7rem;

}

.wrapper p {
    color: black;
    text-align: center;
}
.wrapper img {
    padding-top: 1rem; 
    margin-left: 39%;
    width: 35%;
}

.btn {
    background-color: rgb(94, 1, 131);
    text-align: center;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

header {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    background-color: #656AB2;
    padding: 1rem 0;
    justify-content: space-between;


}

h1 {
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
}

footer {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

p div footer {
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 350px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

    
}